@import '../less/variables.less';
@import '../less/mixins.less';

*{
  font-size: 24px;
}

.banner{
  background-color: @white;
}

.beta-wrapper{

  .betaform{
    min-height: 390px;
  }

  .intro{
    margin-top: 10px;
    font-size: larger;
  }

  .intro.login, .intro.reminder{
    margin-top: 50px;
  }

  .intro.reset{
    margin-top: 35px;
  }

  .form-wrapper{
    font-size: normal;

    input, label, .error{
      font-size: smaller;
    }

    .btn-primary{
      margin-top: 20px;
      width: 100%;
    }

    span.error{
      float:right;
      margin-top: 5px;
      color: @red;
    }

  }

  .alert{
    font-size: small;
  }

  .picture{
    text-align:right;

    img{
      margin-top: 30px;
      width: 100%;
    }
  }
}

@media(max-width: @screen-md-max){

  .beta-wrapper{

    .intro{
      margin-top : 10px;
    }

    .betaform{
      min-height: inherit;
    }
  }

}

