@import '../less/variables.less';
@import '../less/mixins.less';

*{
  font-family: 'Didact Gothic', sans-serif;
  color : @blue;
  font-size: 24px;
}

.banner{
  background-color: @white;
}

.beta-wrapper{


  h3{
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
    border-color: @green;
  }

  .intro{
    margin-top: 10px;
    font-size: larger;
  }

  .form-wrapper{
    font-size: normal;

    input, label, .error{
      font-size: smaller;
    }

    .btn-primary{
      margin-top: 20px;
      width: 100%;
    }

    span.error{
      float:right;
      margin-top: 5px;
      color: lighten(red, 25%);
    }

  }



  .picture{
    text-align:right;

    img{
      margin-top: 40px;
      width: 100%;
    }
  }
}

