@import "../../components/bootstrap/less/bootstrap";

@import '../less/bootstrap-variables';
@import '../less/variables';
@import '../less/bootstrap-mixins';
@import '../less/bootstrap-buttons';
@import '../less/datepicker';
@import '../less/mixins.less';
@import '../less/sidebar';
@import '../less/breadcrumb';
@import '../less/forms';
@import '../less/icons';
@import '../less/mantelzorger';
@import '../less/questionnaire';
@import '../less/instrument';
@import '../less/header.less';
@import '../less/footer.less';

html {
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
  background-color: #1a1a1a;
}

#content{
  margin: 2em 0;
}

p{
  margin: 1.3em 0;
}

label{
  color: @gray;
  font-weight: 400;
}

a:active, a:hover{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  color: #333;
  margin: 0;
}

.container-small{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
