@import "variables";

#brand {
  font-size: 28px;
  text-transform: uppercase;
}

header {
  h1 {
    font-weight: 400;
  }

  a {
    text-transform: uppercase;
  }
}

#page-header {
  background-color: @brand-primary;
  min-height: 100px;

  h2{
    font-size: 22px;
    line-height: 1.5em;
    font-weight: normal;
    text-transform: none;
    color: @white;
    margin-bottom: inherit;
  }

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}