@import 'variables';
@import 'bootstrap-variables';

.instrument-header{

  margin-bottom: 20px;

  ul{
    list-style: none;
    padding: 0;
    text-align: center;

    li{
      display: inline-block;
      padding: 10px;
      border: 1px solid @border-color;
      border-radius: @border-radius-base;
      margin-right: 10px;
      text-shadow: none;
      color: white;
    }

    li.panel-gray{
      background-color: @panel-gray;
    }

    li.panel-yellow{
      background-color: @panel-yellow;
    }

    li.panel-purple{
      background-color: @panel-purple;
    }

    li.panel-green{
      background-color: @panel-green;
    }

    li.panel-red{
      background-color: @panel-red;
    }

    li.panel-blue{
      background-color: @panel-blue;
    }

    li.panel-orange{
      background-color: @panel-orange;
    }
  }

}

.instrument-questions{

  .instrument-question{
    border-left: 1px solid @border-color;
    padding-left: 40px;
    min-height: 200px;
  }

}

.instrument-footer{
  margin-top: 20px;
}