@import 'variables';
@import 'bootstrap-variables';
@import 'bootstrap-mixins';

.question-color(@c) {
  .header {
    color: @c;
  }

  .fa {
    color: @c;
  }
}

.btn-gray {
  .button-variant(@white, @panel-gray, darken(@panel-gray, 10%));
}

.btn-green {
  .button-variant(@white, @panel-green, darken(@panel-green, 10%));
}

.btn-purple {
  .button-variant(@white, @panel-purple, darken(@panel-purple, 10%));
}

.btn-yellow {
  .button-variant(@white, @panel-yellow, darken(@panel-yellow, 10%));
}

.btn-blue {
  .button-variant(@white, @panel-blue, darken(@panel-blue, 10%));
}

.btn-red {
  .button-variant(@white, @panel-red, darken(@panel-red, 10%));
}

.btn-orange {
  .button-variant(@white, @panel-orange, darken(@panel-orange, 10%));
}

.instrument-header {

  .heading {
    padding: 1em 3em;

    h3 {
      font-weight: normal;
      color: @white;
    }
  }

  &.panel-gray, .panel-gray {
    background-color: @panel-gray;
  }

  &.panel-yellow, .panel-yellow {
    background-color: @panel-yellow;
  }

  &.panel-purple, .panel-purple {
    background-color: @panel-purple;
  }

  &.panel-green, .panel-green {
    background-color: @panel-green;
  }

  &.panel-red, .panel-red {
    background-color: @panel-red;
  }

  &.panel-blue, .panel-blue {
    background-color: @panel-blue;
  }

  &.panel-orange, .panel-orange {
    background-color: @panel-orange;
  }

  div.active {
    width: 100%;

  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 1em 2em;
      border-bottom: 1px solid @border-color;

      a {
        display: block;
        color: @white;
        text-decoration: none;
      }
    }

    li:first-child {
      border-top: 1px solid @border-color;
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

.instrument-questions {

  .question-status {
    &.question-blue {
      .question-color(@panel-blue);
    }

    &.question-red {
      .question-color(@panel-red);
    }

    &.question-green {
      .question-color(@panel-green);
    }

    &.question-purple {
      .question-color(@panel-purple);
    }

    &.question-orange {
      .question-color(@panel-orange);
    }

    &.question-yellow {
      .question-color(@panel-yellow);
    }

    &.question-gray {
      .question-color(@panel-gray);
    }

    font-size: xx-large;
  }

  .instrument-question {
    margin-bottom: 20px;

    & > div {
      //these are changed below for tablets.
      padding: 15px;
      border: 1px solid @border-color;
      margin: 0 5%;

    }

    .header {
      cursor: pointer;
      font-size: x-large;
      font-weight: bold;
      margin-bottom: 10px;
      position: relative;
      padding-left: 40px;
      padding-right: 40px;

      .question-status {
        position: absolute;
        left: 0;
        top: -7px;
      }

      .question-editing {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .body {
      .well {
        margin-top: 10px;
      }
    }

    textarea {
      height: 90px;
    }

    &.question-blue {
      .question-color(@panel-blue)
    }

    &.question-red {
      .question-color(@panel-red)
    }

    &.question-green {
      .question-color(@panel-green)
    }

    &.question-orange {
      .question-color(@panel-orange)
    }

    &.question-purple {
      .question-color(@panel-purple)
    }

    &.question-gray {
      .question-color(@panel-gray)
    }

  }
}

// TABLET IMPROVEMENTS TO UX
body.tablet {

  .instrument-question > div {
    padding: 0 15px;
    border: none;
    margin: 0;
  }

  #content {
    overflow: scroll;
    //account for the footer;
    padding-bottom: 63px !important;
  }

  .instrument-footer {
    border-top: 1px solid @border-color;
    padding: 1em;
    background-color: @white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

}
