@import 'variables';

.mantelzorgers .mantelzorger{

  &:nth-child(even)
  {
    background-color: @table-stripe-color;
  }

  padding: 15px 0 15px 0;
  border-bottom: 1px solid @border-color;

  &:last-child{
    border-bottom: none;
  }

  .ouderen{

    .body{

      padding: 0;

      ul{
        list-style: none;
        padding: 0;

        li{
          margin-top: 5px;
        }

      }

    }

  }

  .header{
    text-shadow: none;
    padding-bottom: 5px;
    line-height: 26px;
    color: @blue;
  }

  .body{
    padding: 5px 0;

    a:hover, a:active{
      text-decoration: none;
    }
  }

  .glyphicons{
    font-size: 16px;
    line-height: 25px;
    margin-right: 5px;
    float: left;
    vertical-align: bottom;
  }

  .btn-default{
    top: -5px;
    font-size: 8px;
  }

}

.page-actions{

  margin-top: 15px;

  .btn-primary{
    .glyphicon{
      color: white;
      margin-right: 5px;
    }
  }
}