@import 'variables';

.questionnaires .row, .questions .row {
  padding: 15px 0 15px 0;
  border-top: 1px solid @border-color;
}

.questionnaires .row:nth-child(even), .questions .row:nth-child(even){
  background-color: @table-stripe-color;
}

.questionnaires .row:first-child, .questions .row:first-child{
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.questionnaires {

  .header i {
    margin-right: 5px;
  }

  .header {
    margin-bottom: 10px;
    .btn-default {
      i {
        margin-right: 0;
      }
      font-size: 8px;
    }
  }

  .panels {

    ul {
      padding-left: 5px;
      list-style: none;

      .input-group-btn a {
        border-left: 0;
      }

      .glyphicon-move {
        cursor: move;
      }
    }
  }

  .icons, .savers {

    .glyphicon-check, .glyphicon-unchecked {
      cursor: pointer;
    }

    i {
      font-size: larger;
    }
  }

  .savers {

    .header {
      height: 20px;
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 10px;
        vertical-align: middle;
        line-height: 34px;
        height: 34px;
      }
    }

  }

}

.question {

  .header {

    margin-bottom: 10px;

    span {
      line-height: 34px;
      vertical-align: middle;
    }

  }

  .left label{
    font-weight: normal;
    margin-bottom: 10px;
  }

  .choises {

    .handle{
      cursor: move;
    }

    ul {
      list-style: none;
      padding: 0;

      li input.value{
        border-left: none;
      }

      li input.name{
        border-left: none;
        border-right: none;
      }
    }
  }
}