@import 'variables';

section#sidebar {

  ul {
    list-style: none;

    li {
      color: @green;
      margin-top: 10px;
      text-transform: capitalize;

      .glyphicon, .glyphicons {
        color: @green;
        margin-right: 5px;
      }

      @media (max-width: @screen-xs-max) {
        font-size: inherit;
      }
    }

    li:first-child {
      margin-top: 0px;
    }
  }

  ul.subnav li {
    margin-top: 0;

    a {
      font-size: small;
    }
  }

  @media (max-width: @screen-sm-max) {
    ul {
      float: left;
      margin-left: 0px;
      padding-left: @padding-base-horizontal;

      li {
        margin-top: 0;
        float: left;
        display: block;
        padding-left: @padding-base-horizontal;
        padding-right: @padding-base-horizontal;
        padding-top: @padding-base-vertical;
        padding-bottom: @padding-base-vertical;
      }
    }

    ul.subnav {
      display: none;
      clear: both;
    }

    ul li:active ul.subnav, ul li:hover ul.subnav {
      position: absolute;
      z-index: @zindex-dropdown;
      display: block;
      float: none;
      padding-left: 0;
      background-color: #FFF;
      border: 1px solid @border-color;

      li {
        float: none;
      }
    }
  }

}