body.tablet{
  //full-screen is added for better UX on tablets.
  #content{
    padding: 0;
    position: relative;
    max-height: 100%;

    .container-fluid{
      padding: 0;
    }
  }

  header .navbar{
    min-height: inherit;
  }

  .navbar-nav>li>a{
    padding: 2em 1em;
  }

  .navbar-brand{
    padding: 1em;
    height: auto;
  }
}