@blue:#1C2C9C;
@green:#51B84F;
@white: #e5eed8;
@red: lighten(red, 25%);


@border-color: #CCC;


@screen-xs-max: 768px;
@screen-sm-min: 768px;

@screen-md-max: 992px;
@screen-md-min: 992px;

@screen-lg-min: 1200px;

@regular-font: 'Didact Gothic', sans-serif;
@title-font: 'conduit itc';